.home-body {
    height: 100vh;
    /* background-color: aqua; */
}

.home-content {
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
}

.home-content h1 {
    /* font-size: 100px; */
    font-size: 6vw;
    margin-top: 3%;
    margin-left: 5%;
}

.buscar-box {
    border-radius: 0.375rem;
    width: 50vw; /*1000px*/
    height: 30vh; /*300px*/
    position: fixed;
    right: 5%;
    bottom: 5%;
    display: flex;
    justify-content: space-around;
}

.buscar-one-box {
    width: 180px;
    min-width: 180px;
}

.buscar-one-box h1{
    font-weight: bold;
    font-size: 18px;
    padding-top: 12%;
}

.buscar-one-box p {
    font-size: 16px;
    padding-top: 10%;
    padding-bottom: 15%;
}