.buscar-content {
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
}

.buscar-content h1 {
    font-size: 100px;
    padding-top: 3%;
    padding-right: 3%;
}

.buscar-content img {
    padding-top: 3%;
    padding-left: 3%;
    min-width: 1000px;
}
