.buscar-body {
    height: 100vh;
    /* background-color: aqua; */
}

.buscar-content {
    text-align: right;
}

.buscar-content h1 {
    /* font-size: 100px; */
    font-size: 6vw;
    margin-top: 1%;
    margin-right: 5%;
    text-align: right;
}

.buscar-content img {
    margin-top: 3%;
    margin-left: 5%;
    /* min-width: 1000px; */
    width: 55vw;
    outline: 2px solid #003604;
    border-radius: 0.375rem;
}

.filter-box {
    border-radius: 0.375rem;
    width: 50vw; /*1000px*/
    height: 190px; /*300px 30vh */
    /* padding: 40px 0px; */
    position: fixed;
    left: 5%;
    bottom: 10%;
    /* display: flex;
    justify-content: space-around; */
    overflow: auto;
}
