.navbar-body {
    background-color: #009001;
    display: flex;
    color: #e9ffe3;
    font-weight: bold;
    width: 100%;
}

.navbar-title {
    flex: 1;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    min-width: 260px;
}

.navbar-title h1:hover {
    cursor: pointer;
}

.navbar-items {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 250px;
}

.navbar-login {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    min-width: 80px;
}

.navbar-login h3 {
    padding-right: 10%;
}

.navbar-login button {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.selected-tab {
    color: #003604;
    background-color: #037103;
}

.navbar-items span {
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar-items span:hover {
    background-color: #037103;
}